<link rel="stylesheet" type="text/css" href="info-conheca.component.css" />
<section class="container p-3">
  <div class="p-3">
    <h2 class="font-weight-bold">Conheça o que fazemos!</h2>
    
    <div class="card-deck mt-4">
      <div class="card shadow animacao-up">
        <img src="assets/img/doacao1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><b>1º Coleta de doações</b></h5>
          <p class="card-text">Primeiro coletamos todas as doações realizadas por nossos contribuintes.</p>

        </div>
      </div>
      <div class="card shadow animacao-up">
        <img src="assets/img/doacao2.png" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title"><b>2º Compra de alimentos</b></h5>
          <p class="card-text">Compramos alimentos essenciais e perecíveis para que sejam doados.</p>

        </div>
      </div>
      <div class="card shadow animacao-up">
        <img src="assets/img/doacao3.png" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title"><b>3º Distribuição</b></h5>
          <p class="card-text">Por fim doamos os alimentos comprados em um evento de distribuição!</p>

        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .animacao-up {
    transition: 0.6s;
  }
  
    .animacao-up:hover {
      border-color: rgb(23, 52, 105);
      border-radius: 4px;
      transform: translateY(-10px);
    }
  </Style>
