<link rel="stylesheet" type="text/css" href="info-covidonation.component.css" />
<section class="container p-3" id="linhas">
  <div class="row justify-content-center">
    <article class="col-md-6 col-12">
      <div class="container">
        <h2 class="font font-weight-bold acao-social-2">
          <br /><br />Uma forma simples e fácil de ajudar!
        </h2>
        <br />
        <p class="font text-justify">
          O CoviDonation permite que pessoas físicas façam doações utilizando o
          PIX. Com essa doação você permite que famílias que foram atigindas
          financeiramente pela a pandemia do Coronavírus possam se reestruturar
          de forma digna. Todas as doações são revertidas em compra de alimentos
          para que sejam destinados para as pessoas que mais precisam em tempos
          tão adversos. Com o CoviDonation é simples e fácil de ajudar!
        </p>
        <h5 class="font font-weight-bold">PROCESSO DE DOAÇÃO:</h5>
        <p class="font text-justify">
          Para doar para o CoviDonation, você apenas precisará ir para a página
          de doações, digitar a quantia que você deseja doar e um QR Code será
          gerado. Utilizando o aplicativo de seu banco, escaneie o QR Code e
          pronto!
        </p>
        <div class="text-center">
          <br />
          <button
            type="button"
            onclick="window.location.href ='doacao.html'"
            class="btn btn-outline-primary"
          >
            <b>Faça sua doação hoje mesmo <i class="fa fa-arrow-right"></i></b>
          </button>
        </div>
      </div>
    </article>

    <article class="col-md-6 col-12">
      <br /><br />
      <img
        src="assets/img/mulher-mascara.jpg"
        class="card-img-top card-posicao-imagem retira-responsivo"
        alt="Ação Social"
      />
    </article>
  </div>
</section>
