<div
  id="carouselExampleSlidesOnly"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/img/covidonation1.png" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="assets/img/segundoSlide.png" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img
        src="assets/img/terceiroSlidee.png"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
</div>
