<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="sortcut icon" href="src/assets/img/CovidLogo.png" type="image">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="src/assets/css/style.css">
    <link rel="stylesheet" href="css/animations.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <title>CoviDonation | Login</title>
</head>

<body style="background-color: rgb(224, 224, 224); margin-top: 60px;">
    <div class="text-center container p-5 ">
        <div class="card  shadow p-5" style="border-radius: 50px;">
            <div class="row">
                <div class="col-sm-6">
                    <div>
                        <h2 class=" font font-weight-bold" style="color:#102382">Portal Do Voluntário</h2>
                        <hr />
                    </div>
                    <img src="src/assets/img/login-img.jpg" class="img-fluid">
                </div>
                <div class="col-sm-6">
                    <form>
                        <div class="text-center">

                            <br>

                        </div>
                        <div class="p-5">
                            <img src="src/assets/img/CovidLogo.png" style="margin-top: -58px;">
                            <h3 class="font" style="color:#102382">Faça seu login</h3>
                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Usuário" style="border-color: #102382; border-radius: 20px;">

                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha" style="border-color: #102382; border-radius: 20px;">
                            </div>
                            <div class="text-center">
                                <button type="button" onclick="window.location.href ='gerencial.html'" class="btn btn-primary" style="border-color: #102382; background-color:#102382 ; border-radius: 20px; width: 150px;">Acessar <i class="fas fa-sign-in-alt"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

</body>



<script src="https://kit.fontawesome.com/f02493a03c.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>