<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap"
  rel="stylesheet"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"
  rel="stylesheet"
/>
<link rel="sortcut icon" href="src/assets/img/CovidLogo.png" type="image" />
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="abadoe.component.css" />

<script
  src="https://kit.fontawesome.com/f02493a03c.js"
  crossorigin="anonymous"
></script>
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>
<!--
<video width="100%" muted autoplay>
            <source src="src/assets/img/doacao-tutorial.mp4">
          </video>
          -->
<section style="margin-top: 90px" class="container p-3">
  <div class="mb-3">
    <div class="text-center"></div>
  </div>
  <div class="container">
    <div class="row">
      <br />
      <h2 class="font font-weight-bold">Que bom que você chegou até aqui!</h2>
      <p class="font">
        Ficamos muito felizes em ver que você chegou até a etapa de doação!
        Contamos com você nessa!<br />
        Todas as doações que o CoviDonation recebe são por PIX. Abaixo você
        encontrará as instruções para realizar a doação. Vale ressalvas que
        entre às 20h até às 6h as transações de PIX são limitadas a mil reais.
      </p>
    </div>
  </div>
</section>

<section>
  <div class="container p-3">
    <div class="row">
      <div class="col">
        <h3 class="font-weight-bold">Realize sua doação</h3>

        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button
                  class="btn btn-link"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  Como é feita a doação?
                </button>
              </h2>
            </div>

            <div
              id="collapseOne"
              class="collapse show"
              aria-labelledby="headingOne"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                Doar para o CoviDonation é muito fácil. Basta utilizar uma das
                chaves PIX ao lado e doar quanto deseja.<br />
                Quando o seu PIX for confirmado, signfifica que a sua doação foi
                recebida com sucesso!<br />
                Aqui todas as doações são bem-vindas. Cada moeda pode mudar a
                vida de alguém! :)
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button
                  class="btn btn-link collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  Como faço a doação com o QRCode?
                </button>
              </h2>
            </div>
            <div
              id="collapseTwo"
              class="collapse"
              aria-labelledby="headingTwo"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                Para doar usando o QrCode você precisa estar acesando o nosso
                site pelo o computador. Com o seu celular, acesse o app do seu
                banco e vá para a opção de pagamento por PIX e selecione a opção
                que deseja escanear um QRCode. Aponte a câmera do seu celular
                para o QRCode ao lado. Por fim, basta informar o valor em que
                deseja doar para a ONG.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button
                  class="btn btn-link collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  Como faço a doação com a chave PIX?
                </button>
              </h2>
            </div>
            <div
              id="collapseThree"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                Caso você esteja acessando o nosso site pelo o celular, copie a
                chave PIX ao lado. Após isso, abra o aplicativo de seu banco e
                selecione que deseja pagar utilizando uma chave CPF/CNPJ. Cole a
                chave, insira o valor que deseja doar e pronto!
              </div>
            </div>
          </div>
        </div>
        <button
          type="button"
          onclick="window.location.href ='index.html'"
          class="btn btn-outline-primary mt-4"
        >
          <b><i class="fa fa-arrow-left"></i> Voltar para a página inicial</b>
        </button>
      </div>
      <div class="col p-4 text-center">
        <br />
        <p class="font">
          <b>QRCode PIX</b><br />
          <img src="assets/img/qr_code_291_218.jpg.opdownload.jpg" />
          <br /><br />
        </p>

        <p class="font">
          <b>Chave PIX</b><br />
          9121.223.7776677-011
        </p>
      </div>
    </div>
  </div>
</section>
