<section class="container p-3">
    <div class="p-3">
      <h2 class="font font-weight-bold">Venha nos visitar</h2>
      <p class="font text-justify">
        Você pode visitar a sede do CoviDonation quando quiser. Faça sua visita e faça parte de nossa ONG!
      </p>
      <section id="map-container-google-1" class=" map-container">

        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3655.949196925197!2d-46.69642378538279!3d-23.60615486913227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5734a48bf4ad%3A0xe722150d0d93f2d!2sR.%20Hil%C3%A1rio%20Furlan%20-%20Cidade%20Mon%C3%A7%C3%B5es%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2004533-085!5e0!3m2!1spt-BR!2sbr!4v1626350408067!5m2!1spt-BR!2sbr"
          width="100%" height="450" style="border:0; border-radius:25px" allowfullscreen="" loading="lazy"></iframe>
      </section>
    </div>
</section>