<div
  style="
    width: auto;
    background-image: url(assets/img/corona-gb9a206923_1920.jpg);
    color: white;
  "
>
  <section class="container p-3" id="linhas">
    <div class="row justify-content-center">
      <article class="col-md-6 col-12" >
        <img
          src="assets/img/covidimg.png"
          class="card-img-top card-posicao-imagem retira-responsivo"
          alt="Ação Social"
        />
      </article>

      <article class="col-md-6 col-12">
        <div class="container">
          <h2 class="font-sobre font font-weight-bold acao-social-2">
            <br />COVIDONATION
          </h2>
          <br />
          <p class="font text-justify font-sobre">
            Além de todos os problemas causados e todas as milhares de vidas
            ceifadas, a pandemia do Coronavírus gerou gigantescos impactos na
            economia mundial. Somente no Brasil, a taxa desemprego atingiu a sua
            máxima histórica de 15,7%. O real brasileiro despencou mais de 40%
            em desvalorização e a extrema pobreza já atinge mais de 27 milhões
            de brasileiros.<br />
            Em tempos tão adversos e incertos, o CoviDonation busca amenizar os
            impactos causados pela a pandemia do Coronavírus. Sendo uma ONG que
            busca ajudar e fortalecer todas as pessoas que se encontram em
            situação de desamparo. Pessoas que perderam seus empregos ou demais
            fontes de renda que as condicionam a dificuldade de manter uma vida
            com o essencial.<br />
            Nós do CoviDonation buscamos, de pessoas que queiram ajudar, doações
            monetárias de qualquer valor. Todo o valor que arrecadamos compramos
            alimentos para distribuir para aqueles que no momento não possuem
            condições de comprar. Caso você precise de ajuda, acompanhe nossas
            redes sociais para ver os locais de distribuição de alimentos.
            <br />
            <br />
            <i
              >"Você nunca saberá quantas vidas transformou, mas elas
              saberão".<br />
              -ONG CoviDonation
            </i>
          </p>
        </div>
      </article>
    </div>
  </section>
</div>
