<link rel="stylesheet" type="text/css" href="info-casos.component.css" />
<section>
    <div class="container p-3" style="margin-top: 45px;">
      <div class="p-3">
      <h2 class="font font-weight-bold"><b>Acompanhe a progressão do Coronavírus</b></h2>
      <h6>Abaixo você pode visualizar os novos casos e mortes do COVID-19. Todos os dados são atualizados a cada 24 horas.</h6>
    </div>
      <div class="card p-5 shadow" style="border-radius: 15px;">
            <div>
              <iframe title="Casos e mortes de COVID-19 confirmados no Brasil" aria-label="Interactive line chart" id="datawrapper-chart-9ogCz" src="https://datawrapper.dwcdn.net/9ogCz/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="600"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(e){if(void 0!==e.data["datawrapper-height"]){var t=document.querySelectorAll("iframe");for(var a in e.data["datawrapper-height"])for(var r=0;r<t.length;r++){if(t[r].contentWindow===e.source)t[r].style.height=e.data["datawrapper-height"][a]+"px"}}}))}();</script>
          </div>
          <h6>Para mais informações, acesse o Painel Coronavírus do Brasil em <a href="https://covid.saude.gov.br/">covid.saude.gov.br</a></h6>
      </div>
    
    </div>
</section>