<section class="container p-3">
  <div class="container" id="pix">
    <div class="row">
      <div class="col-sm-6">
        <h2 class="font font-weight-bold">
          Acompanhe a gente em nossas redes sociais!
        </h2>
        <br />
        <p class="font text-justify">
          Nos siga em nossas redes sociais e acompanhe todas as ações que a
          CoviDonation realiza. Estamos no Instagram, Twitter e Facebook. Marque
          a gente e compartilhe com seus amigos! Juntos somos mais fortes!
        </p>
        <ul class="social-icons text-center">
          <li>
            <a class="facebook" href="https://www.facebook.com/profile.php?id=100074000486130"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a class="twitter" href="https://twitter.com/CoviDonation"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a class="dribbble" href="https://www.instagram.com/covidonation_projeto/"><i class="fa fa-instagram"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <blockquote class="twitter-tweet" data-lang="pt">
          <p lang="pt" dir="ltr">
            Nós do CoviDonation precisamos de você! Doe e ajude quem mais
            precisa nesse momento!👐🙌
          </p>
          &mdash; CoviDonation (@CoviDonation)
          <a
            href="https://twitter.com/CoviDonation/status/1448419045456424972?ref_src=twsrc%5Etfw"
            >13 de outubro de 2021</a
          >
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
</section>
